# ==================================
# Node.js / JavaScript / React Files
# ==================================

# Dependencies
node_modules/
npm-debug.log*

# Build outputs
dist/
build/
out/

# ==================================
# .NET
# ==================================
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe
*.nupkg
*.snupkg
.vs/
*.log
TestResults/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# Environment variables
.env